.summary {
  padding: 20rpx;
  font-size: 16px;
}

/* 疫情形势 */
.summary .info {
  display: flex;
}

.info .title {
  font-size: 14px;
}

.info .number {
  font-size: 24px;
  font-weight: bold;
}

.info>view {
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.confirmedCount .number {
  color: #d81d1b;
}

.suspectedCount .number {
  color: #f7ab1a;
}

.deadCount .number {
  color: #66666c;
}

.curedCount .number {
  color: #178b50;
}

.map {
  width: 100%;
}

/* 各个省详情 */
.chinaArea >.text,
.aboradArea >.text{
  font-size: 20px;
  margin: 20rpx 0;
  display: block;
  font-weight: bold;
  position: relative;
  margin-left: 24rpx;
}
.chinaArea >.text::before,
.aboradArea >.text::before{
  content: '';
  display: flex;
  position: absolute;
  margin-left: -24rpx;
  background-color: #007aff;
  width: 12rpx;
  height: 100%;
}

.title{
  display: flex;
  text-align: center;
  font-size: 20px;
}
.title > view{
  flex: 1;
  line-height: 1.8;
}
.title > view:first-child{
  flex: 1.5;
}
.title >view:nth-child(1){
  background: #efe9cc;
}
.title >view:nth-child(2){
  background: #ff5a5a;
}
.title >view:nth-child(3){
  background: #65ead1;
}
.title >view:nth-child(4){
  background: #ffe390;
}
.province .row{
  display: flex;
  text-align: center;
  font-size: 20px;
  background: #f7f7f7;
  position: relative;
}
.province .row .provinceShortName{
  flex: 1.5;
}
.province .icon{
  flex: 0.5;
}
.province image{
  position: absolute;
  width: 16px;
  height: 16px;
  top: 10px;
  left: 10px;
}
.province image.downIcon{
  transform: rotate(90deg);
}
.province .row > view{
  flex: 1;
  line-height: 1.8;
}
.province .row >view:first-child{
  flex: 1.5;
  line-height: 1.8;
}
.province .country{
  display: block;
}
.province .country .row{
  border-bottom: 1px solid #ebebeb;
}
.province .country:nth-child(-1){
  border-bottom: 1px solid #ebebeb;
}
.province .country > view{
  font-size: 16px;
  flex: 1;
  line-height: 1.5;
  background: #FFFFFF;
}
